.*
*.pyc
*.pyo
*.pyd
*,cover
*.log
*.pgsql
*.pgdump
*.restore
*.pid
*.dir
*.bak
*.dat
*.sample
**/__pycache__
**/*.pyc

db.sqlite3
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
.git

.dockerignore
.env*
.gitlab-ci.yml
venv/
Vagrantfile
Dockerfile
docker-compose.yml

.idea/
.vscode/

__pycache__
temp/
docs/
wiki/
volumes/
vagrant/
frontend/
media/
test-data/
