COMPOSE_IGNORE_ORPHANS=True
# docker0 interface IP
DOCKER_HOST_IP=172.17.0.1
# Database settings
POSTGRES_PASSWORD=mcod
POSTGRES_USER=mcod
POSTGRES_DB=mcod
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_HOST_TYPE=docker
POSTGRES_HOST_AUTH_METHOD=md5
# Redis settings
REDIS_URL=redis://localhost:6379
# Elasticsearch settings
ELASTICSEARCH_HOSTS=localhost:9200
# Rabbitmq settings
RABBITMQ_HOST=localhost:5672
# App settings
DJANGO_SETTINGS_MODULE=mcod.settings.local
SESSION_COOKIE_PREFIX=local
SESSION_COOKIE_DOMAIN=mcod.local
SESSION_COOKIE_SECURE=no
API_CSRF_COOKIE_DOMAINS=mcod.local,localhost
ENVIRONMENT=local
BASE_URL=https://mcod.local
API_URL=https://api.mcod.local
API_URL_INTERNAL=https://api.mcod.local
ADMIN_URL=https://admin.mcod.local
CMS_URL=https://cms.mcod.local
ALLOWED_HOSTS=*
FALCON_LIMITER_ENABLED=yes
DEBUG=yes
NO_REPLY_EMAIL=no-reply@mcod.local
GUNICORN_CMD_ARGS=--worker-class gevent --timeout=120
# BOKEH settings
BOKEH_DEV=True
BOKEH_RESOURCES=cdn
BOKEH_ALLOW_WS_ORIGIN=mcod.local
BOKEH_LOG_LEVEL=debug
BOKEH_PY_LOG_LEVEL=debug
BOKEH_MINIFIED=False
BOKEH_VALIDATE_DOC=True
BOKEH_PRETTY=True
# RDF Database settings
FUSEKI_URL=http://localhost:3030
FUSEKI_DATASET_1=ds
ADMIN_PASSWORD=Britenet.1
SPARQL_USER=admin
# Main DGA
MAIN_DGA_DATASET_OWNER_ORGANIZATION_PK=2844

DISCOURSE_USERNAME=user
DISCOURSE_PASSWORD=bitnami123
DISCOURSE_HOST=http://forum.mcod.local
DISCOURSE_API_KEY=8e2c7cd496e7e6b4de952af8dd389a35a275634f4f7a98acb619723dad38af50
DISCOURSE_SSO_SECRET=d836444a9e4084d5b224a60c208dce14

# logingovpl settings
USERS_TEST_LOGINGOVPL=false
FRONTEND_BASE_URL=""
FIELD_ENCRYPTION_KEYS=c2d95c58322ca6ddcf8b0c304c8131f6b515ff5f3a297dcdadeda1a82cb4ec9b

DB_ES_CONSISTENCY_EMAIL_RECIPIENTS=admin@mcod.local

PWD=/absolute/path/to/the/project/root


# Celery beat settings

# Enables the generation of monthly reports - default value: False
# ENABLE_MONTHLY_REPORTS=True

# Enables the generation of a XML metadate report - default value: True
# ENABLE_CREATE_XML_METADATA_REPORT=False

# Allows you to change the execution time of periodic tasks
# UPDATE_TASKS_CELERY_BEAT_TIME='{"catalog_csv_file_creation": {"hour": 9, "minute": 44}, "catalog_xml_file_creation":{"hour": 11, "minute": 46}}'

# Enables exclude Developers' resources from brokenliks checking - default value: True
# BROKEN_LINKS_EXCLUDE_DEVELOPERS=False
