{% extends "admin/base_save_confirmation.html" %}

{% load admin_urls i18n %}

{% block confirmation_warning %}
    <p class="lead">{% trans "Are you sure you want to uncheck the metadata \"Contains a list of protected data\"?" %}</p>
    <p>
        {% trans "After saving, the resource will cease to be the current list of protected data." %}
        {% trans "The data from this resource will be removed from the master list of protected data." %}
    </p>
{% endblock %}

{% block confirmation_buttons %}
    <br>
    <input type="submit" value="{% blocktrans %}Yes, uncheck the metadata{% endblocktrans %}" class="btn btn-danger">
    <a href="#" onclick="window.history.back()" class="btn btn-success cancel-link">{% trans "No, stop the operation" %}</a>
{% endblock %}
