{% extends "admin/change_confirmation.html" %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
{% if not add %}
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'change' object_id|admin_urlquote %}">{{ object_name|truncatewords:"18" }}</a>
    &rsaquo; {% trans 'Confirm change' %}
{% else %}
    &rsaquo; {% trans 'Confirm add' %}
{% endif %}
</div>
{% endblock %}

{% block content %}
  <p>Pełnomocnik wprowadził zgłoszenia w harmonogramie OD. Zapisanie tej operacji spowoduje utratę wprowadzonych przez pełnomocnika zgłoszeń. Czy potwierdzasz?</p>
  <p>{{ object_name }}</p>
  {% if add %}
      <form method="post" action="{% url opts|admin_urlname:'add'%}">{% csrf_token %}
  {% else %}
    <form method="post" action="{% url opts|admin_urlname:'change' object_id|admin_urlquote %}">{% csrf_token %}
  {% endif %}

    {% for key, value in form_data.items %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}
    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
    <div class="submit-row">
        <input type="submit" value="Tak, potwierdzam" name="{{ submit_name }}">
        <p class="deletelink-box">
            <a href="#" class="button cancel-link">Nie, wróć</a>
        </p>
    </div>
  </form>
{% endblock %}
